{% extends "base.html" %}
{% block title %}About Us{% endblock %}


{% block header %}
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "home" %}">StackUp</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li{% if selected == "home" %} class="active"{% endif %}>
                <a href="{% url "home" %}">Home</a>
            </li>
            <li{% if selected == "about" %} class="active"{% endif %}>
                <a href="{% url "about" %}">About</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    
<link rel="stylesheet" type="text/css" href="../../static/css/style.css">
{% endblock %}

{% block body %}
<div class="well">
    <h2>About StackUp</h2>
    <p class="lead">StackUp was created by three students at the University of Wisconsin-Madison in 2014. The intention of the 
        application is too give students and recent graduates a better idea of what their cost of living will be 
        depending on where they live and how much they make. How well does your salary StackUp?</p>
</div>
{% endblock body %}
