{% extends "base.html" %}
{% block title %}FAQ{% endblock %}

{% block body %}
<div class="jumbotron">
    <h2>FAQ</h2>
    <p><b>How much does this cost?</b></p>
    <p>We charge a concierge fee of $10 per person, to be paid up front
    by whoever has set up the Nite.
    </p>
    <p><b>Why do you need a phone number?</b></p>
    <p>We need a phone number to make sure that if there are any cancellations, that
    we can get ahold of both parties to make them aware of the situation. We
    promise we will NEVER abuse having your number and NEVER give it to anyone else.
    We're NOT fucking around here.
    </p>
    <p><b>How do you match up groups?</b></p>
    <p>Currently, we match all groups up by hand. We carefully look over both sets of 
    interests and activities to make sure that you won't absolutely hate the other 
    group we set you up with.
    </p>
    <p><b>What sort of events do you do?</b></p>
    <p>We do all sorts of fun things! Try racing big wheels after a 6 pack. Or how about
    running through 9 holes of Pub Golf. We come up with all sorts of crazy events.
    </p>
</div>
{% endblock body %}
