
{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block body %}
<link rel="stylesheet" type="text/css" href="../../static/css/style.css">

<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">StackUp</h4>
            </div>
            <div class="modal-body">
                <form method="get" name="submit_form" onsubmit="return validateForm()" action="{% url "salary" %}">
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary"></input>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block script %}
<script>
$(".modal").modal({
        keyboard: false,
        show: true,
        backdrop: "static",
        });
        
function validateForm() {
    var x=document.forms["submit_form"]["id_salary"].value;
    if (!isNumber(x)) {
        alert("Please enter a numerical salary");
        $('#id_salary').val("");
        return false;
    }
}

function isNumber(n) {
    return !isNaN(parseFloat(n)) && isFinite(n);
}
</script>

{% endblock %}


