.jumbotron {
	min-height: 400px;
}

.jumbotron .container {
	padding-top: 50px;
	padding-bottom: 50px;
}

.jumbotron h1 {
	font-family: 'century gothic',sans-serif;
	font-size: 90px;
	margin-bottom: 0;
}

.jumbotron .tag {
	padding: 10px 10px 10px 10px;
}	

body {
	overflow-y:scroll;
    height: 100%;
    margin: 0;
    padding: 0;
}

html { 
    height: 100%
}

.container { 
    height: 100%
}

/*home.html */
.modal-content {
    margin-top: 30%;
}

.modal-dialog {
    box-shadow: 0 0 25px #888888;
}

.modal-title {
    font-size: 22pt;
    text-align: center;
}

.modal-content #id_salary { 
    width: 230px;
}

.btn-primary {
    margin-left: 49px;
}

/*salary.html */
#map-canvas { 
    height: 100%;
    border:2px solid;
    border-radius:25px;
}

#map-container {
    height: 95%;
    position: relative;
}

#info {
    position:absolute;
    width: 250px;
    top:50px;
    right: 0px;
    z-index:1;
    color:black;
    box-shadow: 0px 10px 5px #888888;
    background-color:rgba(255,0,0,0.5);
}

.star {
    width:20px;
}

/*about.html */
.well {
    margin-top: 30px;
 }
